<table class="table">
<tbody>
	<tr>
		<td class="publication">
			<span class="pubtitle">
				<b><a href="None">On the Unusual Effectiveness of Type-Aware Operator Mutations For Testing SMT solvers</a></b>
			</span><br />
			<span class="authors">
				Dominik Winterer, Chengyu Zhang, and Zhendong Su.
			</span><br />
			<span class="venuetype"></span><i><span class="venue">In Proceedings of OOPSLA '2020</span></i>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td class="publication">
			<span class="pubtitle">
				<b><a href="None">Validating SMT solvers via Semantic Fusion</a></b>
			</span><br />
			<span class="authors">
				Dominik Winterer, Chengyu Zhang, and Zhendong Su.
			</span><br />
			<span class="venuetype"></span><i><span class="venue">In Proceedings of PLDI '2020</span></i>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
